body {
  font-family: Arial, sans-serif;
}

#get-task {
  background-color: #4caf50; /* Verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#create-task {
  background-color: #008cba; /* Azul */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
